@using Microsoft.AspNetCore.Identity
@using BreadCrumbs.Areas.Identity.Data

@model IEnumerable<BreadCrumbs.Models.Ticket>
@inject SignInManager<BreadCrumbsUser>  signInManager;

@{
    ViewData["Title"] = "Tickets";
}

<h1>Tickets</h1>

<table class="table-borderless" width="107.25%">
    <thead>
        <tr>
            <th valign="bottom">
                <form asp-action="Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                            Find by title/description:
                            <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                            <input type="submit" value="Search" class="btn btn-secondary" /> |
                            <a asp-action="Index">Back to Full List</a>
                        </p>
                    </div>
                </form>
            </th>
            <th valign="top" align="right">
                <a class="btn btn-primary" asp-action="Create">Create New</a>
            </th>
        </tr>
    </thead>

</table>


<table class="table">
    <thead>
        <tr>
            <th width="15%">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th width="15%">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["UserSortParm"]">@Html.DisplayNameFor(model => model.CreatedByUser)</a>
            </th>
            <th width="15%">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParm"]">@Html.DisplayNameFor(model => model.TicketStatus)</a>
            </th>
            <th width="15.5%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (signInManager.IsSignedIn(User) && User.IsInRole("Ticket #" + item.TicketId))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketStatus)
                    </td>         
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TicketId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.TicketId">Details</a>
                        </td>
                    </tr>
             }
         }
    </tbody>
</table>